@font-face {
    font-family: Yanone Kaffeesatz;
    src: url('../../Fonts/Yanone Kaffeesatz/YanoneKaffeesatz-Regular.ttf') format('truetype');
}

@font-face {
    font-family:  Open Sans ;
    src: url('../../Fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

.portfolioMain {
    width: 1920px;
    height: 1041px;
    padding-top: 150px;
    margin: auto;
}

.greyBlock {
 width: auto;
 height: 891px;
 background: #2B2D42;

}

.portfolioContainer {
    width: 67.5%;
    margin: auto;
    height: auto;
    display: flex;
    
}
.imageCover {
    position: relative;
    width: 526px;
    height: 1041px;
}
.imageBlock {
    width: 526px;
    height: 1041px;
    background-image: url(./Image/work.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -150px;
}

.infoBlock {
    width: 550px;
    height: 615px;
    margin-left: 134px;
    margin-top: 150px;
    position: relative;
}

.infoBlock h2 {
font-family: Yanone Kaffeesatz;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 60px;
letter-spacing: 0.05em;
text-align: left;
color: #FFFFFF;
text-transform: uppercase;
}

.infoBlock p {
    font-family: Open Sans;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 39px;
letter-spacing: 0em;
text-align: left;
color: white;
margin-top: 40px;
}

.linkSee {
    width: 380px;
    height: 80px;
    background: #AECB0B;
    border-radius: 10px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 13px 90px;
font-family: Open Sans;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
margin-top: 80px;
}

.yellowStripe {
position: absolute;
width: 110px;
height: 10px;
top: 55px;
background: #F8F32B;
}